<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header th:insert= "~{fragments/headerFooter :: header}"></header>
    <div>
        <h1 th:text="${type} + ':'"></h1>
        <div>
            <div th:each="media: ${medias}"><a th:href="@{${type} + '/' + ${media.id}}" th:text="${media.name}"></a></div>
        </div>
        <footer th:replace= "~{fragments/headerFooter :: footer}"
    </div>
</body>
</html>